# Files
.vscode/settings.json
.vscode/*.code-workspace

# Folders
__pycache__/

# You have to do this weird syntax to ignore all files in `data` except for a file `xxx.xxx` in one its subfolders.
data/*
!data/quran_metadata/
data/quran_metadata/*
!data/quran_metadata/quran_word_index.json
!data/quran_metadata/surah_to_simple_ayahs.json
!data/quran_metadata/sources.md

ignore/
tmp/